* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}

body {
    background-color: #F0F2F5;
    width: 100%;
    display: flex;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

.content-facebook{
    flex: 2;
    position: relative;
    bottom: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 560px;
    align-items: center;
    padding: 0 24px;
}

.content-facebook img{
    width: 320px;
    margin-left: -50%;
    height: 106px;
}

.content-facebook h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: normal;
    font-size: 26px;
}

.content-form {
    flex: 1;
    display: flex;
    position: relative;
    bottom: 10%;
    width: 380px;
    border: 2px solid #bfc9ce;
    border-radius: 8px;
    padding: 16px 20px 28px;
    margin-right: 20px;
}

input[type="email"], input[type="password"] {
    width: 332px;
    height: 55px;
    margin: 10px 0;
    border: 2px solid #bfc9ce;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 17px;
}

.btn-entrar {
    display: flex;
    justify-content: center;
    background-color: #1877f2;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 19px;
    line-height: 48px;
    padding: 0 16px;
    margin: 20px 0;
    width: 332px;
}

.link-forget-password {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #1977F2;
    text-decoration: none;
}

.hr {
    height: 8px;
    color: #bfc9ce;
    opacity: 0.3;
}

.btn-register {
    display: flex;
    justify-content: center;
    background-color: #36A41F;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    opacity: 0.9;
    margin-top: 14px;
    padding: 18px 0;
    width: 200px;
    margin-left: 20%;
}

.area {
    position: absolute;
    bottom: -20%;
    left: 10%;
    width: 80%;
    text-align: center;
}

.area a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

@media (max-width: 390px) {
    #container {
        flex-direction: column;
        position: absolute;
    }

    .content-facebook img {
        margin-left: -5%;
    }

    .content-facebook h2 {
        text-align: center;
    }

    .content-form {
        margin-left: 10px;
    }
}